<div class="mb-3 card">
  <div class="card-header">
    Movimentações
  </div>
  <div class="card-body">
      <div class="form-group">
          <label for="inputValue">Valor</label>
          <input type="number" step=".01" class="form-control" id="inputValue">
      </div>
      <button id="btnSacar" data-operation="Withdraw" class="btn btn-primary">Sacar</button>
      <button id="btnDepositar" data-operation="Deposit" class="btn btn-primary">Depositar</button>
      <button id="btnPagar" data-operation="Pay" class="btn btn-primary">Pagar</button>
  </div>
</div>
